apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: learn-kube
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: backend:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3000
          env:
            - name: DB_URL
              value: "http://database:8080"
          resources:
            limits:
              cpu: "200m"
              memory: "100Mi"
            requests:
              cpu: "50m"
              memory: "50Mi"

