apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: database
  namespace: learn-kube
spec:
  serviceName: database
  replicas: 1
  selector:
    matchLabels:
      app: database
  template:
    metadata:
      labels:
        app: database
    spec:
      containers:
        - name: database
          image: database:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          volumeMounts:
            - mountPath: /data
              name: db-storage
          resources:
            limits:
              cpu: "100m"
              memory: "80Mi"
            requests:
              cpu: "20m"
              memory: "30Mi"
  volumeClaimTemplates:
    - metadata:
        name: db-storage
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi

