apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: learn-kube
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: frontend:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 5173
          env:
            - name: VITE_API_URL
              value: "http://192.168.49.2:30001"
          resources:
            limits:
              cpu: "100m"
              memory: "80Mi"
            requests:
              cpu: "30m"
              memory: "40Mi"

